USE [master]
GO
/****** Object:  Table [dbo].[YourNewTable]    Script Date: 03/02/2025 13:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YourNewTable](
	[CODE] [nvarchar](255) NULL,
	[INSURANCE AGENTS] [nvarchar](255) NULL,
	[REMARK] [nvarchar](255) NULL,
	[VALUE] [float] NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [float] NULL,
	[F9] [float] NULL,
	[F10] [float] NULL,
	[F11] [float] NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[YourNewTable] ON 

INSERT [dbo].[YourNewTable] ([CODE], [INSURANCE AGENTS], [REMARK], [VALUE], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [ID]) VALUES (N'142401-00014', N'ADEGBESAN S. A.', N'A', 2331147.6623000037, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[YourNewTable] ([CODE], [INSURANCE AGENTS], [REMARK], [VALUE], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [ID]) VALUES (N'142401-00004', N'AKINGBADE A.A (MR)', N'A', -36057480.268000022, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[YourNewTable] ([CODE], [INSURANCE AGENTS], [REMARK], [VALUE], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [ID]) VALUES (N'142407-00001', N'EGUNGBOHUN E.O', N'A', 9786269.2437000126, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[YourNewTable] OFF
GO
